*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(95, 95, 218);
    display: flex;
    height: 56px;
    font-size: 20px;
    

}
.menu nav a{
    /* align-items: center; */
    color: white;
    padding: 16px 4px 8px;
    padding-left: 2px;
    text-decoration: none;
    vertical-align: middle;
    line-height: 28px;
    display: inline-block;
    /* border-bottom-color:white; */
    border-bottom-style: solid;
    /* border-bottom-width: 8px; */ */
    /* margin-left: 330px; */
    /* margin-right: 0px; */
    overflow: hidden;
  
}

.menu{
    margin-left: 1200px;
}


.logo{
    position: absolute;
    left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.logo a{
    margin-top: 100px;
}

.texto-logo{
    color: rgba(255,255,255,1);
    display: inline-block;
    line-height: 1;
    max-width: 300px;
    /* padding: 16px 10px; */
    overflow: hidden;
    text-decoration: none;    
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: -10px;
}


.foto-capa3{
background-image: url("./img/RUNNIN~1.JPG");
background-repeat: no-repeat;  /*não repete a imagem*/
background-size: cover; /*a img preenche o tamanho delimitado sem distorção*/
background-position: 0 30%;/*manter a img ao centro*/
position: relative;
margin-top: 0px;
width: 100%;
/* padding-top: 100px; */
/* padding-right: 200px; */
height: 600px;
opacity: 0.75;
}

.texto-capa{
    color:#ffffff;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    padding-top: 300px;
    font-size: 48pt;
}

.faixa-cinza{
    table-layout: fixed;
    margin: 0;
    border: 0;
    padding-top: 24px;
    padding-left: 0px;
    padding-bottom: 24px;
    padding-right: 0px;
    background-color: #434040;
}

.texto-faixa1{
    text-align: center;
    color: #ffffff;
    vertical-align: baseline;
    font-size: 25pt;
}
.faixa-cinza-claro{
    table-layout: fixed;
    margin: 0;
    border: 0;
    padding-top: 24px;
    padding-left: 0px;
    padding-bottom: 24px;
    padding-right: 0px;
    background-color: #e3e1e1;
}
p{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: justify;
    word-wrap: break-word;
    vertical-align: baseline;
    padding-left: 190px;
    padding-right: 190px;
    word-wrap: break-word;
    
}
.faixa-cinza2{
    table-layout: fixed;
    margin: 0;
    border: 0;
    padding-top: 24px;
    padding-left: 0px;
    padding-bottom: 100px;
    padding-right: 0px;
    background-color: #434040;
}

#titulo{
    font-family: sans-serif;
    color: black;
    
}

#subtitulo{
    font-family: sans-serif;
    color: black;
    
}

fieldset{
    border: 0;
}

.formulario{
    font-family: sans-serif;
    font-size: 1em;
    margin-left:500px;
    margin-right: 500px;
    justify-content: center;
}

input, button{
   border-radius: 5px; 
}

.marcar{
flex-direction: column;
}
.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: block;
    
}

fieldset.grupo {
    float: left;
    margin-left: 1em;
}

.campo input[type="text"], .campo input[type="tel"] {
    padding: 0.2em;
    border: 1px solid;
    display: block;
}

#rodape{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    margin-inline: 600px;
    
    
    /* font-size: 9pt;
    color: rgba(33,33,33,1);
    font-size: inherit;
    font-weight: inherit;
    word-wrap: break-word;
    position: static;
    display: inline; */
}

.imagem-instagram{
    height: 28px;
    width: 28px;
    padding-right: 2px;
}

